header{
    background-color: #E5E5E5;
    border-radius: 1rem;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.liftcontainer{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    justify-content: space-around;
    align-items: stretch;
    background-color: #F6F6F4;
    border-radius: 1rem;
}
.rightcontainer{
    width: 100%;
    height:100%;
    /*border: 1px solid rgb(239, 247, 5);*/
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo-image{
    padding-inline: 1rem;
    border-radius: 50%;
}
.headerCenter{
    display: flex;
    flex-basis: auto;
}
h3{
    padding: 1rem;
    color: #C4C3C1;
}
img{
    border-radius: 1rem;
}
span{
    font-size: large;
}